<div>
    <h2 data-translate="universityApp.student.home.title">Students</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="student.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="universityApp.student.home.createLabel">
                        Create new Student
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="universityApp.student.name">Name</span></th>
                    <th><span data-translate="universityApp.student.surname">Surname</span></th>
                    <th><span data-translate="universityApp.student.sex">Sex</span></th>
                    <th><span data-translate="universityApp.student.dateOfBirth">Date Of Birth</span></th>
                    <th><span data-translate="universityApp.student.nationality">Nationality</span></th>
                    <th><span data-translate="universityApp.student.studentNumber">Student Number</span></th>
                    <th><span data-translate="universityApp.student.attend">Attend</span></th>
                    <th><span data-translate="universityApp.student.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in vm.students track by student.id">
                    <td><a ui-sref="student-detail({id:student.id})">{{student.id}}</a></td>
                    <td>{{student.name}}</td>
                    <td>{{student.surname}}</td>
                    <td data-translate="{{'universityApp.Sex.' + student.sex}}">{{student.sex}}</td>
                        <td>{{student.dateOfBirth | date:'mediumDate'}}</td>
                    <td>{{student.nationality}}</td>
                    <td>{{student.studentNumber}}</td>
                    <td>
                        <span ng-repeat="attend in student.attends">
                            <a class="form-control-static" ui-sref="course-detail({id: attend.id})">{{attend.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        {{student.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="student-detail({id:student.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student.edit({id:student.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student.delete({id:student.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
